* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-sery';
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.02s linear;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #000000;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: #444A4D;
    background-color: #111213;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}


.logo img {
    height: 6.5rem;
    /* define altura da logo */
    border-radius: 100%;
    /* torna a logo circular */
}

.ul-header {
    display: flex;
    gap: 15px;
    list-style: none;
}

.ul-header li a {
    color: #fff;
    font-size: 1.6rem;
}

.ul-header li a:hover {
    color: #444A4D;
    /* muda a cor do houver */
    border-bottom: 0.1rem solid var(--main-color);
    /* adicionamento uma linha inferior no houver */
    padding-bottom: 0.5rem;
    /* adiciona espeçamento interno no houver */
}

/* NÃO ESTOU MEXENDO NOS ÍCONES, E SIM NA CAIXA, OK?? */
.Ícons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Ícons i {
    color: white;
    /* cor branca para icones  */
    cursor: pointer;
    /* altera o cursor ao passar sobre p ícone */
    font-size: 2.5rem;
    /* tamanho dos icones */
}

.Ícons i:hover {
    color: #444A4D;
    /* muda a cor do icone ao passar o mouse */
}

.home {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 85vh;
    background: url(imagem/5-instrumentos-musicais-brasileiros.jpg) no-repeat;
    /* add img sem  */
    background-size: cover;
    background-position: center;
    /* posionamento da imagem */
    border-bottom: var(--border-);
    /* adiciona borda interna */
}


.content {
    min-width: 60rem;
    /* define largura maxima */
    position: relative;
    /* permite manipular a posição (vou esplicar) */
    z-index: 2;
}

.content h3 {
    font-size: 6rem;
    /* tamanho do titulo */
    text-transform: uppercase;
    /* deixando o texto em caixa alta */
    color: #fff;
}

.content p {
    font-size: 2rem;
    font-weight: lighter;
    /* peso da fonte mais leve */
    line-height: 1.8;
    /* Espasamento entre linhas */
    padding: 1rem 0;
    color: #fff;
}

.content-texto {
    width: 60%;
    padding: 3rem;
}

#home::before {
    content: "";
    /* adiciona pseudo-elemento vazio */
    position: absolute;
    /* Permite posionamento absoluto */
    top: 0;
    /* alinha o pseudo-elemento ao topo */
    left: 0;
    /* alinha a esquerda */
    width: 100%;
    /* ocupa toda a largura */
    height: 100%;
    /* ocupa toda altura */
    background: rgb(0, 0, 0, 0.5);
    /* adcionasobreposiçao escura */
    z-index: 1;
}

.section {
    padding: 2rem 7%;
    /*  */
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    /*  */
    padding-bottom: 3rem;
    /*  */
    font-size: 4rem;
}

.heading samp {
    color: #444A4D;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: #444A4D;
    cursor: pointer;
    display: inline-block;
    transition: 0, 8s;
    border-radius: 5rem;
}

.btn:hover {
    letter-spacing: 0.2rem;
   
}


.row {
    display: flex;
    align-items: center;
    background: var(--br-card);
    flex-wrap: wrap;
    border: var(--border);
}

.row .imgem {
    flex: 1 1 45rem;
    /*  */
}

.row .imgem img {
    width: 100%;
}

.row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.containor {
    display: grid;
    /* Organiza */
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

